main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.curso {
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 8px;
    width: clamp(300px, 80%, 1000px);
    height: 100px;
    transition: 100ms;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curso:first-child {
    background-image: url("/imagens/agropecuaria_3.jpg");
}

.curso:nth-child(2) {
    background-image: url("/imagens/info1.jpg");
}

.curso:nth-child(3) {
    background-image: url("/imagens/agroindustria.jpeg");
    background-size: 95%;
    background-position: 50% 70%;
}

.curso:nth-child(4) {
    background-image: url("/imagens/lazer.png");
    background-position: 50% 70%;
    background-size: 95%;
}

.curso p {
    font-size: clamp(20px, 6rem, 40px);
    font-weight: bold;
    opacity: 0;
    transition: 100ms;
    color: white;
}

.curso:hover {
    background-blend-mode: darken;
}

.curso:hover p {
    opacity: 1;
}

@media screen and (max-width: 640px) {
    .curso {
        background-size: 110%;
        background-blend-mode: darken;
    }
    
    .curso p {
        opacity: 1;
    }
}